nav{
    margin: 5% 20% 0 20%;
    font-size: 25px;
}

main{
    margin: 0 20% 0 20%;
}

footer{
    margin: 0% 20% 0 20%;
    font-size: 25px;
    display: flex;
    justify-content: right;
}

article{
    margin: 0 5% 1% 5%;
    font-size: 15pt;
    letter-spacing: 1px;
    text-align: justify;
}

a{
    color: darkgray;
    text-decoration-style: double;
}

a:hover{
    text-decoration-style: wavy;
}

